@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes page_transition {
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(0%);
  }
}

.page_animation{
  animation-name: page_transition ;
  animation-duration: .5s;
}